%h2 Backups - Local
Local storage at #{OptimacmsBackups.backups_config['dir_backups_base']}

- @list_backups.each do |name, list|
  %h3=name
  %ul.list-backups
    - list.each do |r|
      %li{data: {f: r[:shortpath]}}
        =link_to r[:shortpath], download_admin_backups_path(f: r[:shortpath]), target: '_blank'
        (
        =link_to 'delete', delete_admin_backups_path(f: Rack::Utils.escape(r[:shortpath])), :confirm => "Are you sure?", :method => :get, remote: true, :class=>'link_delete'
        )
        %br


%h2 Backups config

Storages:
%ul
  - OptimacmsBackups.backups_config['storages'].each do |r|
    %li
      =r['type']
