<!DOCTYPE html>
<html>
<head>
  <title>OptimacmsBackups</title>
  <%= stylesheet_link_tag    "optimacms_backups/application", media: "all" %>
  <%= javascript_include_tag "optimacms_backups/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
